
.content {
    width: 100%;
    padding: 2px 10px;
    float: left;
    border-bottom-style: solid;
}

.tile{
    float: left;
    margin: 0px 1px 1px 0px;
    border-style: solid;
}

.tile.selected{
    border-color: #F00;
}